<nav style="display: flex; justify-content: space-between; padding: 1rem; background-color: #f8f9fa; border-bottom: 1px solid #ddd;">
  <div>
    <a [routerLink]="'/'" style="text-decoration: none; color: #333; font-weight: bold;">Accueil</a>
  </div>
  <div>
    <a [routerLink]="'/client-inscription'" style="margin-right: 1rem; text-decoration: none; color: #007bff; font-weight: bold;">
       Client
    </a>
    <a [routerLink]="'/fournisseur-inscription'" style="text-decoration: none; color: #007bff; font-weight: bold;">
      Fournisseur
    </a>
    
  </div>
</nav>
